<div class="center jumbotron">
<% provide(:title,"Home") %>
<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<p><%= @word  %></p>
<p>Named route route_url <%= root_url %></p>
<p>Named route route_path <%= root_path %></p>
<p>Named route <%=about_path %></p>
</div>